@import '@/presentation/styles/variables';

.wrap {
    font-family: 'Roboto Slab', sans-serif;
    font-size: clamp(12px, 3vw, 15px);
    padding-top: $headerHeight;
    background-color: $backgroundColor;
    height: 100vh;
}

.wrapper {
    color: $textFontColor;
    display: flex;
    margin: 0 auto;
    width: 80%;
    max-width: $wrapperWidth;
}

.header {
    backdrop-filter: blur(2px);
    position: fixed;
    opacity: 90;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(#000, 0.8), rgba($backgroundColor,0.8));
    min-height: $headerHeight;
}

.main {
    width: 100%;
}

.headerNav {
    height: 100%;
    width: 80%;
    max-width: $wrapperWidth;
}

.headerMenu {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.headerMenuItem {
    flex: 0 0 auto;
    text-align: center;
    flex-wrap: wrap;
    font-weight: bold;
    font-family: Oswald, sans-serif;
    padding: 1rem 5px 1rem 5px;
}

.headerMenuItem:first-of-type {
    padding-left: 0;
}

.headerMenuItem:last-of-type {
    padding-right: 0;
}

.headerMenuItem  > a{
    color: #fff;
    text-decoration: none;
}
