$primaryColor: #250804;
$secondaryColor: transparent;
$backgroundColor: #0a0a0a;
$backgroundSecondaryColor: #751f1f;
$headingsFontColor: #fff;
$textFontColor: #faded7;

$headerHeight: clamp(40px, 20vw, 120px);
$wrapperWidth: 1080px